{% extends 'layout.twig' %}

{% block body %}
    <div id="app">
        <div class="text-center">
            <h1>URL Shortener</h1>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <form method="post" id="form">
                    <div class="form-group">
                        <label for="field-url">Enter URL:</label>
                        <input type="text" class="form-control" :class="{'is-invalid': errors.url }" name="url" id="field-url" v-model="url" />
                        <template v-if="errors && errors.url">
                            <div class="invalid-feedback" v-for="error in errors.url"><% error %></div>
                        </template>
                    </div>
                    <div class="form-group">
                        <label for="field-code">Custom Alias (optional):</label>
                        <input type="text" class="form-control" :class="{'is-invalid': errors.code }" name="code" id="field-code" v-model="code" />
                        <template v-if="errors && errors.code">
                            <div class="invalid-feedback" v-for="error in errors.code"><% error %></div>
                        </template>
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitUrl" :disabled="submitting"><% submitButtonText %></button>
                </form>

                <div id="result" class="card mt-4" v-if="result">
                    <div class="card-header">
                        <h3>Result</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>URL</strong>: <a :href="result.url" target="_blank"><% result.url %></a></p>
                        <p><strong>Shorten URL</strong>: <a :href="result.shortenUrl" target="_blank"><% result.shortenUrl %></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
